body{
    background-color: #7e6551;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border:  none;
    background:none;
}

.Emoji{
width: 10%;
}

header{
    background-color: #fdf4dc ;
    font-size: larger ;
    font-family:;

}


header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    font-family:;
}



.navbar .nav-logo .logo-text{
    color:#3a1808;
    font-size: 2rem ;
    font-weight: 600;

}

.navbar .nav-menu{
    display: flex;
    gap: 10px;
    
}

.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color:#3a1808;
    border-radius:  30px;
    font-size: 1.12rem ;    
    transition: 0.3s ease;

}

.navbar .nav-menu .nav-link:hover{
    color:#fdf4dc;
    background-color:#D2B48C;
    
}

.logo123{
    width: 40%;
    height: 40%;.
    display: block;
    margin: auto;
    display: flex;
    align-items: center;
}

footer .navfoot{
    color: #7e6551;
    background-color: black;
    text-align: center;
}

.car{
   margin-left: 75px;
    width: 40%;
    height: 40%;
    padding: 20px;
    justify-content: space-between;
}

.About{
    padding: 30px;
    width: 40%;
    height: 40%;.
    display: block;
    margin: auto;
    display: flex;
    align-items: center;
}

.nav-main{
    text-align: center;
}

.contact{
padding: 30px;
    width: 25%;
    height: 25%;.
    display: block;
    margin: auto;
    display: flex;
    align-items: center;
}